<% pagination_class ||= "" %>

<%= paginator.render do -%>
  <div class="pagination <%= pagination_class %>">
    <ul>
    <%= prev_page_tag %>
    <% each_page do |page| -%>
      <% if page.left_outer? || page.right_outer? || page.inside_window? -%>
        <%= page_tag page %>
      <% elsif !page.was_truncated? -%>
        <%= gap_tag %>
      <% end -%>
    <% end -%>
    <%= next_page_tag %>
    </ul>
  </div>
<% end -%>
